

.intro-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  cursor: pointer;
}

.intro-content {
  text-align: center;
}

.title-with-images {
  position: relative;
  display: inline-block;
}

.turkey-flag {
  position: absolute;
  top: -10px;
  left: -40px;
  width: 80px;
  height: 60px;
  object-fit: contain;
  z-index: 10;
}

.duo-race-image {
  position: absolute;
  top: -190px;
  right: -20px;
  width: 450px;
  height: auto;
  object-fit: contain;
  z-index: 5;
}

.intro-title {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 3px;
}

.intro-title .duolingo-text {
  /* Fontun kendi gömülü rengini gizle */
  color: transparent !important;
  opacity: 0;
  transition: opacity 1s ease-in;
  
  /* Gölgeyi fontun tam üstüne oturt ve yeşil renk ver */
  text-shadow: 0 0 0 #58cc02;
}

.intro-title .gis-text {
  /* Fontun kendi gömülü rengini gizle */
  color: transparent !important;
  opacity: 0;
  transition: opacity 1s ease-in;
  
  /* Gölgeyi fontun tam üstüne oturt ve turuncu renk ver */
  text-shadow: 0 0 0 #ff9600;
}

.fade-in {
  opacity: 1 !important;
}